*{
	box-sizing: border-box;
	
}

/* ---- HEADER STYLES */
/* Style for header at top of page*/
.header{
	width: 100%;
	padding: 1em;
	color: #ffffff;
	background-color: #333;
	clear: left;
	text-align: center;
	
}

/* Style for Navigation bar with clickable links */
nav {
	margin: 0;
	padding: 0;
	
	display: inline;
	
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px; 16px;
	text-decoration: none;
}	

li a:hover{
	background-color: #111;
}


/*---GRID STYLES */

.grid{
	
	height: 960px;
	width: 960px;
	margin:0;
	position: absolute;
	
}

.square{
	
	float:left;
	border: 1px solid black;
	text-align: center;
	width: 6.25%;
	height: 6.25%;
	display: block;
	
	
}
	
/* The original Colour */

.orgColor{

	background-color: rgb(100%,100%,100%);
}

/* The colour it will be changed to */
.changedColor{
	
	background: #000000;

}



